{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "About your care plan" %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-callout app-callout--yellow">
        <h1 class="nhsuk-u-margin-bottom-4">{{ pageHeading }}</h1>

        <p>Your care plans may include information you:</p>
        <ul>
          <li>find worrying</li>
          <li>need to discuss with a healthcare professional</li>
        </ul>
        <p>Contact your GP if someone is pressuring you to see this information.</p>

        <div class="nhsapp-button-group">
          <a class="nhsuk-button nhsapp-button" href="emergency-care-plan" role="button">
            Continue
          </a>
          <a href="/pages/home-p9" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0">Back to home</a>
        </div>
      </div>

    </div>
  </div>

  {% endblock %}