{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}

{% set pageHeading = "Care plans" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>
      <p>View the care plans you agreed with your healthcare team about your care</p>


      
{% from 'nhsapp/components/card/macro.njk' import nhsappCardGroup %}
{% from 'nhsapp/components/card/macro.njk' import nhsappCard %}

{{ nhsappCardGroup({
  stacked: true,
  cards: [
    {
      title: 'Emergency care plan',
      href: 'about-your-care-plan',
      description: 'ReSPECT (Recommended Summary Plan for Emergency Care and Treatment) plan'
    },
    {
      title: 'Manage your health care plans',
      href: 'pkb-care-plans'
    },
    {
      title: "View your Universal Care plan",
      href: "#"
}
  ]
}) }}

    </div>
  </div>

{% endblock %}
