{% extends 'layout-app.html' %}

{% set backLink = true %}

{% set hub = "Treatment recommendations" %}

{% set pageHeading = "Treatment recommendations" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

<div class="emergency-care-plan-intro">

  <p class="nhsuk-body-s">
    <strong>Source:</strong> ReSPECT Plan<br>
    <strong>Last updated:</strong> 6 January 2026, 09:33<br>
  </p>
</div>
<h2 class="nhsuk-heading-m">
  Recommendations
</h2>

{% from "inset-text/macro.njk" import insetText %}

{% set insetTextHtml %}
  <p>Priority should be given to comfort.</p>
{% endset %}

{{ insetText({
  html: insetTextHtml
}) }}

<h2 class="nhsuk-heading-m">
  Guidance on specificinterventions
</h2>
<p>Healthcare professional's guidance on specific, realistic interventions that may or may not be wanted or clinically appropriate</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>Prioritise treatments that can be administered in the community (e.g. IV diuretics if appropriate).</li>
  <li>Involve community heart failure team early.</li>
  <li>Avoid invasive treatments such as organ support or CPR.</li>
  <li>Consider assessment in emergency department in unforseen, potentially treatable situations e.g. after a fall.</li>
  <li>Prioritise comfort and symptom control in event of deterioration of diagnosed conditions.</li>
</ul>
<h2>
  Cardiopulmonary resuscitation (CPR) recommendation
</h2>

<p class="nhsuk-body">
  CPR is NOT recommended.
</p>

<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

<p class="nhsuk-body-s">
  This information has come from care plans you have talked about with your GP or other healthcare provider.
  It is a clinical record of agreed recommendation.
  It is not a legally binding document.
</p>

{% from "inset-text/macro.njk" import insetText %}

      {% set insetTextHtml %}
        <p>Need to update your emergency care plan? <br/>Contact Ash Grove Medical Centre: <a href="tel:01234567890">01234 567890</a></p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}
      
    </div>
  </div>


{% endblock %}