{% extends 'layout-app.html' %}

{% set hub = "Emergency care plan" %}

{% set backLink = true %}

{% set pageHeading = "Emergency care plan" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>
        You can view information from your emergency care plan here.
      </p>

      <p class="nhsuk-body-s">Last updated: 15 March 2024, 09:33</p>

      <h2 class="nhsuk-heading-m">Health and current conditions</h2>
      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Health summary
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>
              Joe has multiple medical conditions including heart failure, diabetes, chronic kidney disease and anaemia. These are
              generally well managed with oversight in his care facility and occasional input from his community medical team who know
              his situation well, however has required admission to hospital for management at times of crisis when one of his conditions
              becomes unstable.
            </p>
            <p>
              Joe is aware that his conditions can be managed with ongoing treatment but cannot be reversed and
              may deteriorate in time. have advanced heart failure and have become increasingly frail over the last two years. I become breathless when walking short distances and often need to rest.
            </p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Someone who can make decisions for me
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>No one appointed</p>
          </div>
        </details>
      </div>

      <div class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsuk-heading-xs">
              Other care planning or legal documents
            </p>
            <p>None listed</p>
          </div>
        </div>
      </div>


      <h2 class="nhsuk-heading-m">What matters to me</h2>
      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Preferred name
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Joe</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              What I most value
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>At this point in my life I would like to be kept comfortable and only receive treatments which allow me to stay in my home. 
            I am reluctant to be admitted to hospital.</p>
        </div>
        </details>

        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-6">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Things I want to avoid
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>I don't want lots of painful investigations and treatments. I don't want anyone pressing on my chest if my heart stops.</p>
          </div>
        </details>
      </div>

      <h2 class="nhsuk-heading-m">Treatment recommendations</h2>
      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Overall recommendation
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Priority should be given to comfort</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Guidance on specific interventions
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Prioritise treatments that can be administered in the community (e.g. IV diuretics if appropriate).</li>
              <li>Involve community heart failure team early.</li>
              <li>Avoid invasive treatments such as organ support or CPR.</li>
              <li>Consider assessment in emergency department in unforseen, potentially treatable situations e.g. after a fall.</li>
              <li>Prioritise comfort and symptom control in event of deterioration of diagnosed conditions.</li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-6">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Cardiopulmonary resuscitation (CPR) recommendation
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>CPR is NOT recommended.</p>
          </div>
        </details>
      </div>

      <h2 class="nhsuk-heading-m">Legal information about this plan</h2>
      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Capacity
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>The healthcare professional signing this plan is confirming that:</p>
            <ul>
              <li> You have the mental capacity to participate in making these recommendations. You have been fully involved in this plan.</li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Healthcare professionals who signed your plan
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <div class="nhsuk-card">
                <div class="nhsuk-card__content">

                <h3 class="nhsuk-heading-s">Name</h3>
                <p>
                  Dr Bally Valentine
                </p>

                <h3 class="nhsuk-heading-s">Role and speciality</h3>
                <p>
                  GP
                </p>

                <h3 class="nhsuk-heading-s">Lead healthcare professional</h3>
                <p>
                  Yes
                </p>

                <h3 class="nhsuk-heading-s">Professional registration number</h3>
                <p>
                  GMC 4123485
                </p>

              </div>
            </div>
          </div>
        </details>
      </div>

      <h2 class="nhsuk-heading-m">Emergency contacts</h2>
      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Primary emergency contact
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-heading-s">Name</h3>
                <p>
                  Clive Campbell
                </p>

                <h3 class="nhsuk-heading-s">Role and relationship</h3>
                <p>
                  Nephew
                </p>

                <h3 class="nhsuk-heading-s">Phone number</h3>
                <p>
                  07843 806541
                </p>
                  <td class="nhsuk-table__cell">
                    <span class="nhsapp-tag nhsapp-tag--aqua-green"> Primary emergency contact </span>
                  </td>
                

              </div>
            </div>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Other emergency contacts
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-heading-s">Name</h3>
                <p>
                  Community Heart Failure Team
                </p>


                <h3 class="nhsuk-heading-s">Phone number</h3>
                <p>
                  01248 543775
                </p>

              </div>
            </div>

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-heading-s">Name</h3>
                <p>
                  GP surgery
                </p>


                <h3 class="nhsuk-heading-s">Phone number</h3>
                <p>
                  01248 543555
                </p>

              </div>
            </div>
          </div>
        </details>
      </div>

      {% from "inset-text/macro.njk" import insetText %}

      {% set insetTextHtml %}
        <p>The NHS App may not show all the information in your care plan. If you cannot find the information you need, contact your GP practice.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}

      <p>This information comes from a care plan you discussed with your GP or another healthcare professional. It includes recommendations you agreed together. It is not legally binding.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Emergency care plan document</h2>

        {% from 'nhsapp/components/card/macro.njk' import nhsappCardGroup %}
        {% from 'nhsapp/components/card/macro.njk' import nhsappCard %}

        {{ nhsappCardGroup({
          stacked: true,
          cards: [
            {
              title: 'View',
              href: '/documents/Joe-ReSPECT-plan.pdf'
            },
            {
              title: 'Download',
              href: '/documents/Joe-ReSPECT-plan.pdf',
              description: '(PDF)'
            }
          ]
        }) }}

<p class="nhsuk-body">You may see medical abbreviations that you are not familiar with.</p>

{{ actionLink({
  text: "Help with abbreviations",
  href: "#"
}) }}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    document.getElementById('logoutButton').addEventListener('click', function() {
      // Get a reference to the hidden div
      var hiddenDiv = document.getElementById('logoutActionSheet');
      var bottomNav = document.getElementById('bottomNav');

      // Check if the div is currently hidden
      if (hiddenDiv.style.display === 'none') {
        // If hidden, show the div
        hiddenDiv.style.display = 'block';
        bottomNav.style.display = 'none';
        hiddenDiv.focus()
      } else {
        // If visible, hide the div
        hiddenDiv.style.display = 'none';
      }
    });

    document.getElementById('cancelButton').addEventListener('click', function() {
      // Get a reference to the hidden div
      var hiddenDiv = document.getElementById('logoutActionSheet');
      var bottomNav = document.getElementById('bottomNav');

      // Check if the div is currently hidden
      if (hiddenDiv.style.display === 'block') {
        // If hidden, show the div
        hiddenDiv.style.display = 'none';
        bottomNav.style.display = 'block';
        hiddenDiv.focus()
      } else {
        // If visible, hide the div
        hiddenDiv.style.display = 'block';
      }
    });
  </script>
{% endblock %}