{% extends 'layout-app.html' %}

{% set hub = "Emergency care plan" %}

{% set backLink = true %}

{% set pageHeading = "Emergency care plan" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>
        You can view information from your emergency care plan here.
      </p>

      <p class="nhsuk-body-s">Last updated: 15 March 2024, 09:33</p>

      <h2 class="nhsuk-heading-m">Health and current conditions</h2>
      {% from "details/macro.njk" import details %}

      <div class="nhsuk-expander-group">
        {% call details({
          summary: "Health summary",
          classes: "nhsuk-expander"
        }) %}
          <p>
            Joe has multiple medical conditions including heart failure, diabetes, chronic kidney disease and anaemia. These are
            generally well managed with oversight in his care facility and occasional input from his community medical team who know
            his situation well, however has required admission to hospital for management at times of crisis when one of his conditions
            becomes unstable.
          </p>
          <p>
            Joe is aware that his conditions can be managed with ongoing treatment but cannot be reversed and
            may deteriorate in time. have advanced heart failure and have become increasingly frail over the last two years. I become breathless when walking short distances and often need to rest.
          </p>
        {% endcall %}

        {% call details({
          summary: "Someone who can make decisions for me",
          classes: "nhsuk-expander"
        }) %}
          <p>No one appointed</p>
        {% endcall %}
      </div>
      <h3 class="nhsuk-heading-s">Other care planning or legal documents</h3>
      <p>None listed</p>

      <h2 class="nhsuk-heading-m">What matters to me</h2>
      {% from "details/macro.njk" import details %}
      <div class="nhsuk-expander-group">
        {% call details({
          summary: "Preferred name",
          classes: "nhsuk-expander"
        }) %}
          <p>Joe</p>
        {% endcall %}

        {% call details({
          summary: "What I most value",
          classes: "nhsuk-expander"
        }) %}
          <p>At this point in my life I would like to be kept comfortable and only receive treatments which allow me to stay in my home. 
            I am reluctant to be admitted to hospital.</p>
        {% endcall %}

        {% call details({
          summary: "Things I want to avoid",
          classes: "nhsuk-expander"
        }) %}
          <p>I don't want lots of painful investigations and treatments. I don't want anyone pressing on my chest if my heart stops.</p>
        {% endcall %}
      </div>

      <h2 class="nhsuk-heading-m">Treatment recommendations</h2>
      {% from "details/macro.njk" import details %}
      <div class="nhsuk-expander-group">
        {% call details({
          summary: "Overall recommendation",
          classes: "nhsuk-expander"
        }) %}
          <p>Priority should be given to comfort</p>
        {% endcall %}

        {% call details({
          summary: "Guidance on specific interventions",
          classes: "nhsuk-expander"
        }) %}
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Prioritise treatments that can be administered in the community (e.g. IV diuretics if appropriate).</li>
            <li>Involve community heart failure team early.</li>
            <li>Avoid invasive treatments such as organ support or CPR.</li>
            <li>Consider assessment in emergency department in unforseen, potentially treatable situations e.g. after a fall.</li>
            <li>Prioritise comfort and symptom control in event of deterioration of diagnosed conditions.</li>
          </ul>
        {% endcall %}

        {% call details({
          summary: "Cardiopulmonary resuscitation (CPR) recommendation",
          classes: "nhsuk-expander"
        }) %}
          <p>CPR is NOT recommended.</p>
        {% endcall %}
      </div>

      <h2 class="nhsuk-heading-m">Legal information about this plan</h2>
      {% from "details/macro.njk" import details %}
      <div class="nhsuk-expander-group">
        {% call details({
          summary: "Capacity",
          classes: "nhsuk-expander"
        }) %}
          <p>The healthcare professional(s) signing this plan is/are confirming that:</p>
          <ul>
            <li> You have the mental capacity to participate in making these recommendations. You have been fully involved in this plan.</li>
          </ul>
        {% endcall %}

        {% call details({
          summary: "Healthcare professionals who signed your plan",
          classes: "nhsuk-expander"
        }) %}
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <h3 class="nhsuk-heading-s">Name</h3>
              <p>
                Dr Bally Valentine
              </p>

              <h3 class="nhsuk-heading-s">Role and speciality</h3>
              <p>
                GP
              </p>

              <h3 class="nhsuk-heading-s">Lead healthcare professional</h3>
              <p>
                Yes
              </p>

              <h3 class="nhsuk-heading-s">Professional registration number</h3>
              <p>
                GMC 4123485
              </p>

            </div>
          </div>
        {% endcall %}
      </div>

      <h2 class="nhsuk-heading-m">Emergency contacts</h2>
      {% from "details/macro.njk" import details %}
      <div class="nhsuk-expander-group">
        {% call details({
          summary: "Primary emergency contact",
          classes: "nhsuk-expander"
        }) %}
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <h3 class="nhsuk-heading-s">Name</h3>
              <p>
                Clive Campbell
              </p>

              <h3 class="nhsuk-heading-s">Role and relationship</h3>
              <p>
                Nephew
              </p>

              <h3 class="nhsuk-heading-s">Phone number</h3>
              <p>
                07843 806541
              </p>
                <td class="nhsuk-table__cell">
                  <span class="nhsapp-tag nhsapp-tag--aqua-green"> Primary emergency contact </span>
                </td>
              

            </div>
          </div>
        {% endcall %}

        {% call details({
          summary: "Other emergency contacts",
          classes: "nhsuk-expander"
        }) %}
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <h3 class="nhsuk-heading-s">Name</h3>
              <p>
                Community Heart Failure Team
              </p>


              <h3 class="nhsuk-heading-s">Phone number</h3>
              <p>
                01248 543775
              </p>

            </div>
          </div>

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <h3 class="nhsuk-heading-s">Name</h3>
              <p>
                GP surgery
              </p>


              <h3 class="nhsuk-heading-s">Phone number</h3>
              <p>
                01248 543555
              </p>

            </div>
          </div>
        {% endcall %}
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Emergency care plan document</h2>

        {% from 'nhsapp/components/card/macro.njk' import nhsappCardGroup %}
        {% from 'nhsapp/components/card/macro.njk' import nhsappCard %}

        {{ nhsappCardGroup({
          stacked: true,
          cards: [
            {
              title: 'View',
              href: '/documents/Joe-ReSPECT-plan.pdf'
            },
            {
              title: 'Download',
              href: '/documents/Joe-ReSPECT-plan.pdf',
              description: '(PDF)'
            }
          ]
        }) }}

<p class="nhsuk-body">You may see medical abbreviations that you are not familiar with.</p>

{{ actionLink({
  text: "Help with abbreviations",
  href: "#"
}) }}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    document.getElementById('logoutButton').addEventListener('click', function() {
      // Get a reference to the hidden div
      var hiddenDiv = document.getElementById('logoutActionSheet');
      var bottomNav = document.getElementById('bottomNav');

      // Check if the div is currently hidden
      if (hiddenDiv.style.display === 'none') {
        // If hidden, show the div
        hiddenDiv.style.display = 'block';
        bottomNav.style.display = 'none';
        hiddenDiv.focus()
      } else {
        // If visible, hide the div
        hiddenDiv.style.display = 'none';
      }
    });

    document.getElementById('cancelButton').addEventListener('click', function() {
      // Get a reference to the hidden div
      var hiddenDiv = document.getElementById('logoutActionSheet');
      var bottomNav = document.getElementById('bottomNav');

      // Check if the div is currently hidden
      if (hiddenDiv.style.display === 'block') {
        // If hidden, show the div
        hiddenDiv.style.display = 'none';
        bottomNav.style.display = 'block';
        hiddenDiv.focus()
      } else {
        // If visible, hide the div
        hiddenDiv.style.display = 'block';
      }
    });
  </script>
{% endblock %}