{% extends 'layout-app.html' %}

{% set backLink = true %}

{% set hub = "Emergency care plan" %}

{% set pageHeading = "Your health and current condition" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

      <p>
        No information available.
      </p>

      {% from "inset-text/macro.njk" import insetText %}

      {% set insetTextHtml %}
      <p>The NHS App may not show all the information in your care plan. If you cannot find the information you need, contact your GP practice.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}
      
    </div>
  </div>


{% endblock %}