{% extends 'layout-app.html' %}

{% set backLink = true %}

{% set hub = "Making this plan" %}

{% set pageHeading = "Legal information about this plan" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

      <p>
        The NHS App may not show all the information in your care plan. If you cannot find the information you need, contact your GP practice.
      </p>

      {% from "summary-list/macro.njk" import summaryList %}

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Your involvement in making this plan"
              },
              value: {
                html: '<span class="nhsapp-tag nhsapp-tag--grey"> No information available </span>'
              }
            },
            {
              key: {
                text: "Healthcare professionals who signed your plan"
              },
              value: {
                html: '
                <div class="nhsuk-card nhsuk-u-margin-top-2">
                  <div class="nhsuk-card__content">

                    <h3 class="nhsuk-heading-s">Name</h3>
                    <p>
                      Dr Bally Valentine
                    </p>

                    <h3 class="nhsuk-heading-s">Role and speciality</h3>
                    <p>
                      GP
                    </p>

                    <h3 class="nhsuk-heading-s">Lead healthcare professional</h3>
                    <p>
                      Yes
                    </p>

                    <h3 class="nhsuk-heading-s">Professional registration number</h3>
                    <p>
                      GMC 4123485
                    </p>

                  </div>
                </div>
                '
              }
            }
          ]
        }) }}

        <h2 class="nhsuk-heading-xs">About this plan</h2>
        <p>This information comes from a care plan you discussed with your GP or another healthcare professional. 
          It includes recommendations you agreed together. It is not legally binding.</p>

        
        {% from "inset-text/macro.njk" import insetText %}

        {% set insetTextHtml %}
          <p>If you need to update your emergency care plan, contact Ash Grove Medical Centre: <a href="tel:01234567890">01234 567890</a></p>
        {% endset %}

        {{ insetText({
          html: insetTextHtml
        }) }}


    </div>
  </div>


{% endblock %}