{% extends 'layout-app.html' %}

{% set backLink = true %}

{% set hub = "Your health and current condition" %}

{% set pageHeading = "Your health and current condition" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

      {% from "summary-list/macro.njk" import summaryList %}

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Health summary"
              },
              value: {
                html: '
                <p>
                  Joe has multiple medical conditions including heart failure, diabetes, chronic kidney disease and anaemia. These are
                  generally well managed with oversight in his care facility and occasional input from his community medical team who know
                  his situation well, however has required admission to hospital for management at times of crisis when one of his conditions
                  becomes unstable.
                </p>
                <p>
                  Joe is aware that his conditions can be managed with ongoing treatment but cannot be reversed and
                  may deteriorate in time. have advanced heart failure and have become increasingly frail over the last two years. 
                  I become breathless when walking short distances and often need to rest.
                </p>
                '
              }
            },
            {
              key: {
                text: "Someone appointed to make health and care decisions for you"
              },
              value: {
                html: '
                  <p>
                    No one appointed
                  </p>
                '
              }
            },
            {
              key: {
                text: "Other care planning or legal documents"
              },
              value: {
                html: '
                <p>
                  No other care plans at present
                </p>
                '
              }
            }
          ]
        }) }}

        <h2 class="nhsuk-heading-xs">About this plan</h2>
      <p>This information comes from a care plan you discussed with your GP or another healthcare professional. 
        It includes recommendations you agreed together. It is not legally binding.</p>

      {% from "inset-text/macro.njk" import insetText %}

      {% set insetTextHtml %}
        <p>The NHS App may not show all the information in your care plan. If you cannot find the information you need, contact your GP practice.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <p class="nhsuk-body nhsuk-u-margin-top-5">You may see medical abbreviations that you are not familiar with.</p>

      {{ actionLink({
        text: "Help with abbreviations",
        href: "#"
      }) }}
      
    </div>
  </div>


{% endblock %}