{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}

{% set pageHeading = "Documents" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <h2 class="app-card__section-heading">GP surgery</h2>

      {{ nhsappCard({
        title: "Your documents",
        href: "/pages/documents/documents-warning-screen"
      }) }}

      <h2 class="app-card__section-heading">Hospital</h2>

            {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Hospital and specialist documents and questionnaires",
             href: "/pages/documents/hospital-docs-questionnaires"
          },
          {
            title: "Useful links from your health team",
            href: "#"

          }
        ]
      }) }}

      {% if data.journey == 'profile' or data.journey == 'profilemenu' %}
      <h2 class="app-card__section-heading">Care plans</h2>

            {{ nhsappCardGroup({
              stacked: true,
              cards: [
                {
                  title: "Emergency care plan",
                  href: "/pages/profile/care-plans/about-your-care-plan",
                  description: 'ReSPECT plan - Recommended Summary Plan for Emergency Care and Treatment'
                },
                {
                  title: "Manage your health care plans",
                  href: "#"

                },
                {
                  title: "View your Universal Care plan",
                  href: "#"

                }
              ]
            }) }}
      {% endif %}


    </div>
  </div>

{% endblock %}
