{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}

{% set pageHeading = "Documents" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <h2 class="app-card__section-heading">GP surgery</h2>

      {{ nhsappCard({
        title: "Your documents",
        href: "/pages/documents/documents-warning-screen"
      }) }}

      <h2 class="app-card__section-heading">Hospital</h2>

            {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Hospital and specialist documents and questionnaires",
             href: "/pages/documents/hospital-docs-questionnaires"
          },
          {
            title: "Useful links from your health team",
            href: "#"

          }
        ]
      }) }}

      <h2 class="app-card__section-heading">Care plans</h2>

        {% if data.journey == 'round-2-menu' or data.journey == 'round-2-cards' %}
          {{ nhsappCardGroup({
            stacked: true,
            cards: [
              {
                title: 'Emergency care plan',
                href: '/pages/profile/care-plans/round-2/about-your-care-plan',
                description: 'ReSPECT (Recommended Summary Plan for Emergency Care and Treatment) plan'
              },
              {
                title: 'Manage your health care plans',
                href: '/pages/profile/care-plans/pkb-care-plans'
              },
              {
                title: "View your Universal Care plan",
                href: "#"
              }
            ]
          }) }}

          {% elif data.journey == 'round-3-minimal' or data.journey == 'round-3-tags' %}
          {{ nhsappCardGroup({
            stacked: true,
            cards: [
              {
                title: 'Emergency care plan',
                href: '/pages/profile/care-plans/round-3/about-your-care-plan',
                description: 'ReSPECT (Recommended Summary Plan for Emergency Care and Treatment) plan'
              },
              {
                title: 'Manage your health care plans',
                href: '/pages/profile/care-plans/pkb-care-plans'
              },
              {
                title: "View your Universal Care plan",
                href: "#"
              }
            ]
          }) }}

        {% elif data.journey == 'round-4-complete' or data.journey == 'round-4-partial' %}
          {{ nhsappCardGroup({
            stacked: true,
            cards: [
              {
                title: 'Emergency care plan',
                href: '/pages/profile/care-plans/round-4/sensitive-information-warning',
                description: 'ReSPECT (Recommended Summary Plan for Emergency Care and Treatment) plan'
              },
              {
                title: 'Manage your health care plans',
                href: '/pages/profile/care-plans/pkb-care-plans'
              },
              {
                title: "View your Universal Care plan",
                href: "#"
              }
            ]
          }) }}

        {% endif %}


    </div>
  </div>

{% endblock %}
