{% extends 'layout-app-help.html' %}

{% set pageHeading = "Check GP appointment notes" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-top-6",
    href: "/pages/updates/help-appointments"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>{{ pageHeading }}</h1>

<p>To check notes from your GP surgery appointments:</p>

      <ol class="nhsuk-list nhsuk-list--number">
        <li>Select <strong>Appointments</strong> on the home screen of the NHS App.</li>
        <li>Select <strong>Appointment notes and other updates</strong>.</li>
      </ol>

      <p>This will show any appointment notes your GP surgery has shared. It may also include other messages or updates from your GP surgery.</p>

      <h2>If information is missing or incorrect</h2>

      <p>
        The information in this area of the app comes from your GP surgery.
      </p>

<div class="nhsuk-do-dont-list">
  <h3 class="nhsuk-do-dont-list__label">Contact your GP surgery if:</h3>
  <ul class="bullet-list-list" role="list">
    <li>
      you cannot see this information
    </li>
        <li>
      information is missing or incorrect
    </li>
      <li>
      you can see information that should not be there (for example, you can see information that is not yours)
    </li>
  </ul>

</a>
</div>

<p class="nhsuk-u-margin-bottom-0">
  <strong>Page last reviewed:</strong> 2 September 2025
</p>
<p>
  <strong>Next review due:</strong> 2 March 2027
</p>
    </div>
  </div>

{% endblock %}
