{% extends 'layout-app.html' %}

{% set backLink = true %}

{% set hub = "Treatment recommendations" %}

{% set pageHeading = "Treatment recommendations" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">
          {{ pageHeading }}
      </h1>

      <p class="nhsuk-body-s nhsuk-u-margin-bottom-5">Last updated: 15 March 2024, 09:33</p>

      <!-- {% from "contents-list/macro.njk" import contentsList %}

        {{ contentsList({
          items: [
            {
              href: "my-health-and-current-condition",
              text: "Your health and current condition"
            },
            {
              href: "what-matters-to-me",
              text: "What matters to you"
            },
            {
              href: "clinical-recommendations",
              text: "Treatment recommendations",
              current: true
            }
            ,
            {
              href: "making-this-plan",
              text: "Legal information about making this plan"
            }
            ,
            {
              href: "emergency-contacts",
              text: "Emergency contacts"
            }
            ,
            {
              href: "print-your-emergency-care-plan",
              text: "Emergency care plan document"
            }
          ]
    }) }}-->

      <p>The NHS App may not show all the information in your care plan. If you cannot find the information you need, contact your GP practice.</p>

      {% from "summary-list/macro.njk" import summaryList %}

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Overall recommendation"
              },
              value: {
                html: '<span class="nhsapp-tag nhsapp-tag--grey"> No information available </span>'
              }
            },
            {
              key: {
                text: "Guidance on specific interventions"
              },
              value: {
                html: '<span class="nhsapp-tag nhsapp-tag--grey"> No information available </span>'
              }
            },
            {
              key: {
                text: "CPR recommendation"
              },
              value: {
                html: 'CPR is NOT recommended'
              }
            }
          ]
        }) }}

      <p>This information comes from a care plan you discussed with your GP or another healthcare professional. It includes recommendations you agreed together. It is not legally binding.</p>

      <p class="nhsuk-body nhsuk-u-margin-top-5">You may see medical abbreviations that you are not familiar with.</p>

      {{ actionLink({
        text: "Help with abbreviations",
        href: "#"
      }) }}

      <!--<hr class="nhsuk-section-break nhsuk-section-break--visible">

      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="what-matters-to-me" rel="prev">
              <span class="nhsuk-pagination__title">
                Previous<span class="nhsuk-u-visually-hidden"> page</span>
              </span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">What matters to you</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z" />
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="making-this-plan" rel="next">
              <span class="nhsuk-pagination__title">
                Next<span class="nhsuk-u-visually-hidden"> page</span>
              </span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Legal information on making this plan</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>-->



    </div>
  </div>


{% endblock %}