{% extends 'layout-app.html' %}

{% set backLink = true %}

{% set hub = "What matters to me" %}

{% set pageHeading = "What matters to me" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-2">{{ pageHeading }}</h1>

      <p class="nhsuk-body-s nhsuk-u-margin-bottom-5">Last updated: 15 March 2024, 09:33 by Dr Bally Valentine</p>

      <p>
        There is no information in this section yet.
      </p>

      <p>
        You can talk about this with a doctor, nurse or other healthcare professional if you want to add information to your plan.
      </p>

      {% from "summary-list/macro.njk" import summaryList %}

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Preferred name"
              },
              value: {
                html: '<span class="nhsapp-tag nhsapp-tag--grey"> No information available </span>'
              }
            },
            {
              key: {
                text: "What I value most"
              },
              value: {
                html: '<span class="nhsapp-tag nhsapp-tag--grey"> No information available </span>'
              }
            },
            {
              key: {
                text: "Things I want to avoid"
              },
              value: {
                html: '<span class="nhsapp-tag nhsapp-tag--grey"> No information available </span>'
              }
            }
          ]
        }) }}

      {% from "card/macro.njk" import card %}

            {% set cardDescriptionHtml %}
              <ul>
                <li>you would like to update your emergency care plan</li>
              </ul>
              <p>Tell them it is a ReSPECT plan written with Dr Bally Valentine.</p>
            {% endset %}

            {{ card({
              type: "non-urgent",
              heading: "Speak to Ash Grove Medical Centre if:",
              descriptionHtml: cardDescriptionHtml
            }) }}

    </div>
  </div>


{% endblock %}