{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App prototype nav updates
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Care Plans</h1>
      <p class="nhsuk-lede-text">
        A prototype for the first NHSE care plan implementation which starts by surfacing existing ReSPECT plans.
      </p>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">


      <h2 class="nhsuk-heading-s">Round 1</h2>
        {{ data | log }}
      <p>Round 1 explored different layouts for the Emergency care plan page as wireframes.</p>
      <ul>
        <li>Stacked card links were used to create a menu linking to the different sections of a ReSPECT Plan.</li>
        <li>A combination of card types were used to explore whether surfacing information on the emergency care plan page would improve usability.</li>
      </ul>

    <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">


      <h2 class="nhsuk-heading-s">Round 2</h2>

      <p>Round 2 continued the exploration started in Round 1 at a higher fidelity.</p>

      <ul clas="nhsuk-list">
        <li>
          <a href="#">Stacked cards</a>
        </li>
        <li>
          <a href="#">Combination of card types</a>
        </li>
      </ul>


      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">


       <h2 class="nhsuk-heading-s">Round 3</h2>

       <p>We explored the impact of partially completed ReSPECT plans and how to display empty states.</p>

      <ul clas="nhsuk-list">
        <li>
          <a href="#">Description of empty state only</a>
        </li>
        <li>
          <a href="#">Description of empty state with use of tags</a>
        </li>
      </ul>


      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2 class="nhsuk-heading-s">Round 4</h2>

      <p>TBC</p>

      <ul clas="nhsuk-list">
        <li>
          <a href="#">TBC</a>
        </li>
      </ul>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2>Built using</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "NHS prototype kit"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-prototype-kit/releases'><span class='nhsuk-u-visually-hidden'>NHS prototype kit </span>v5.3.0</a>"
            }
          },
          {
            key: {
              text: "NHS.UK frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS.UK frontend </span>v9.6.2</a>"
            }
          },
          {
            key: {
              text: "NHS App frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsapp-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS App frontend </span>v4.0.0</a>"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
