{% extends 'layout-app.html' %}

{% set mainClasses = "nhsuk-main-wrapper" %}

{% block head %}
  <meta name="theme-color" content="#005eb8">
{% endblock %}

<!-- HEADER -->
{% block header %}
<header class="nhsuk-header app-header--native" role="banner">
  <div class="nhsuk-header__container">
  </div>
</header>
{% endblock %}

{% block main %}
  {% if data['web'] === "no" %}
    <div class="scrollable-content">
  {% endif %}
  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
  {% if data['web'] === "no" %}
  </div>
  {% endif %}
{% endblock %}

<!-- FOOTER -->
{% block footer %}
{% endblock %}
